@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

body{
    margin: 0;
    padding: 0;

}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #6f6f6f;
}

nav h1{
    color: #717171;
    font-size: 30px;

}

nav .Onglets {
    margin-top: 3px;
    margin-left: 300px;

}


nav .Onglets a{
    text-decoration: none;
    color: black;
    margin-right: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
