* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
  }
  
  .home-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("artificial-intelligence-g710f38c4b_1920.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
  .presentation-container {
   background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
   url("student-gfc683fde4_1920.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
  .logo a {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #fff;
    padding: 0px 20px;
    border: 1px solid #fff;
  
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    text-shadow: rgba(0, 0, 0, 0.7);
  }
  
  .logo span {
    color: crimson;
    font-weight: bold;
    font-size: 2rem;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 20px;
  }
  
  ul {
    display: flex;
    list-style: none;
  }
  
  ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border: transparent solid 1px;
    margin: 10px;
    font-weight: 500;
    transition: 0.6s ease;
  }
  
  ul li a:hover {
    background: #fff;
    color: black;
  }
  
  ul li :active a {
    background: #fff;
    color: black;
  }
  
  .Titre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .Titre {
    color: #fff;
    font-size: 20px;
  }
  
  .bouton {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .bouton a {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 20px;
  }
  
  .btn {
    transition: 0.6s ease;
  }
  
  .btn:hover {
    background-color: #fff;
    color: black;
  }
  
  h3 {
    color: rgb(185, 0, 0);
    text-decoration: none;
    color: rgb(116, 5, 5);
    padding: 10px 20px;
    text-transform: uppercase;
    border: transparent solid 1px;
    margin: 10px;
    font-weight: 500;
    transition: 0.6s ease;
  }

  p{
    color:#fff;
    text-decoration: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 2px solid;
    margin: 10px;
    text-align: center;
  }

  .experience-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("lightbulb-gc101d3dff_1920.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
  }

  .competences-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("entrepreneur-ge048da431_1920.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
  }

  .contacter-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("telephone-g47e4dc607_1920.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
  }

  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;

  }